[Unit]
Description=Мониторинг процесса test
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/test_monitor.sh

[Install]
WantedBy=multi-user.target